.allCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 100px;
}

.allCards div {
  width: 260px;
  height: 260px;
  margin: 5px;
}
.allCards div img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.gameChoice {
  display: inline;
}

section :last-child {
  margin-left: 300px;
}

section :first-child {
  margin-right: 290px;
}

section {
  /* margin-top: 60px;
  margin-bottom: 30px; */
  font-family: fantasy;
  font-size: 27px;
}

.restartBtn {
  font-family: fantasy;
  font-size: 26px;
  border-radius: 6px;
  border-style: none;
  padding: 3px 10px;
  transition: 0.5s ease;
  color: rgb(111, 75, 168);
}

.restartBtn:hover {
  transform: scale(1.1) perspective(1px);
  background-color: rgba(223, 219, 219, 0.534);

  color: rgb(211, 160, 40);
}

.letsBtn {
  display: block;
  margin: 50px 500px;
  border-radius: 7px;
  border-style: none;
  background-color: rgba(197, 181, 183, 0.863);
  color: white;
  padding: 10px 20px;
  transition: 0.5s ease;
}
.letsBtn:hover {
  transform: scale(1.1) perspective(1px);
  background-color: white;
}

.model {
  position: fixed;
  top: 15%;
  left: 10%;
  right: 10%;
  bottom: 120px;
  background-color: rgba(255, 255, 255, 0.685);
  font-family: fantasy;
  padding-top: 10%;
  margin: 0;
  font-size: 50px;
}

.back {
  transition: transform 0.9s;
}

.back:active {
  transform: rotateY(180deg);
}

.front {
  transition: transform 0.9s;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.cardDiv {
  transform-origin: center right;
  position: relative;
}

.btnLink {
  text-decoration: none;
  color: black;
  font-size: 30px;

  font-family: fantasy;
}


.homeLink1{
  text-decoration: none;
  color: gray;
  font-family: fantasy;
  font-size: 24px;
}
