.allCards3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 80px;

}

.allCards3 div{
    width : 200px;
    height: 200px;
    margin: 5px;
}
.allCards3 div img {
    width : 100%;
    height: 100%;  
    border-radius: 5px;
}

.gameChoice3{
    display: inline;

}

section :last-child{
    margin-left: 225px;
}

section :first-child{
    margin-right: 190px;
}

section{
margin-top: 60px ;
margin-bottom: 30px ;
font-family:fantasy;
font-size: 27px;

}

.restartBtn3{
    font-family:fantasy;
    font-size: 26px;
    border-radius: 6px;
    border-style: none;
    padding: 3px 10px;
    transition: 0.5s ease;
    color: rgb(111, 75, 168);
}
.restartBtn3:hover{
    transform: scale(1.10) perspective(1px); 
    background-color: rgba(223, 219, 219, 0.534);
   
    color: rgb(211, 160, 40);
}

/* .flipped .front {
    transform:rotateY(90deg)
 
}

.allCards .front{
    transform:rotateY(0deg) ; 
     position: absolute;
} */

.letsBtn3{
    display: block;
    margin:  0 650px;
   
}

.model {
   background-color: rgba(188, 143, 143, 0.171);
 position: absolute;
 width: 100%;
 height: 100%;

}

.relDiv3{
    position: relative;

} 


.back3 {
    transition: transform 0.9s;
  }
  
  .back3:active {
    transform: rotateY(180deg);
  }
  
  .front3 {
    transition: transform 0.9s;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  
  .cardDiv3 {
    transform-origin: center right;
    position: relative;
  }
