.allCards2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 150px;

}

.allCards2 div{
    width : 217px;
    height: 217px;
    margin: 5px;
}
.allCards2 div img {
    width : 100%;
    height: 100%;  
    border-radius: 5px;
}

.gameChoice2{
    display: inline;

}

section :last-child{
    margin-left: 200px;
}

section :first-child{
    margin-right: 190px;
    margin-left: 15px;
}

section{
margin-bottom: 30px ;
font-family:fantasy;
font-size: 27px;
}

.homeLink{
    text-decoration: none;
    color: gray;
    font-family: fantasy;
    font-size: 24px;
  }


.restartBtn2{
    font-family:fantasy;
    font-size: 26px;
    border-radius: 6px;
    border-style: none;
    padding: 3px 10px;
    transition: 0.5s ease;
    color: rgb(111, 75, 168);
}
.restartBtn2:hover{
    transform: scale(1.10) perspective(1px); 
    background-color: rgba(223, 219, 219, 0.534);
   
    color: rgb(211, 160, 40);
}

.letsBtn2{
    display: block;
    margin:  0 650px;
   
}

.model2 {
    position: fixed;
    top: 8%;
    left: 10%;
    right: 10%;
    bottom: 7%;
    background-color: rgba(255, 255, 255, 0.685);
    font-family: fantasy;
    padding-top: 10%;
    margin: 0;
    font-size: 50px;
  }

.back2 {
    transition: transform 0.9s;
  }
  
  .back2:active {
    transform: rotateY(180deg);
  }
  
  .front2 {
    transition: transform 0.9s;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  
  .cardDiv2 {
    transform-origin: center right;
    position: relative;
  }

